
html{
	background: #1a1818;
	  height: 100%;

}
body{
	
	font-family: Trade Gothic;
	background: url('bg.png');
	  height: 100%;
	  min-height: 100%;
  height: auto !important ;/*min-height hack*/
  height: 100%;           /*min-height hack*/
 
}
@font-face {
	font-family: Trade Gothic;
	src: url('TradeGothic.ttf');
}


.top{
	text-align: center;
	font-size: 30px;
	padding: 40px;
}
.nav{
	text-align: center;
	font-size: 18px;
	padding: 10px;
	
	
}
img {
	vertical-align: middle;
	padding-right: 10px;
}
