
html{
	  height: 100%;

}
body{
	
	font-family: Bebas Neue;
	background: url('bg_pattern.png');
	  height: 100%;
	  min-height: 100%;
  height: auto !important ;/*min-height hack*/
  height: 100%;           /*min-height hack*/
 
}
@font-face {
	font-family: Bebas Neue;
	src: url('BebasNeue.otf');
}


.top{
	font-size: 20px;
	padding: 40px;
	vertical-align: bottom;
}
.nav{
	text-align: center;
	font-size: 18px;
	padding: 10px;
	
	
}
img {
	vertical-align: middle;
	padding-right: 10px;
}
