/* Default CSS Stylesheet for a new Web Application project */

BODY
{
    BACKGROUND-COLOR: white;
    FONT-FAMILY: Verdana, Helvetica, sans-serif;
    FONT-SIZE: .8em;
    FONT-WEIGHT: normal;
    LETTER-SPACING: normal;
    TEXT-TRANSFORM: none;
    WORD-SPACING: normal
}

.CmdButton
{
	border-right: #999999 thin solid;
	border-top: #999999 thin solid;
	font-size: 8pt;
	border-left: #999999 thin solid;
	color: #ffffff;
	border-bottom: #999999 thin solid;
	font-family: Verdana, Tahoma;
	background-color: black;
}